
@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Role</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">&nbsp; New Role</a>
    </div>
</div>
<br />
<div>
    <table class="table table-stripped border">
        <tr class="table-info">
            <th>
                Name
            </th>
           
            <th></th>
            @foreach (var item in ViewBag.Roles)
            {
        <tr>
            <td>@item.Name</td>
            <td>
                <partial name="View" model="@item.Id" />
            </td>

        </tr>
        }
        </table>
    </div>




